node_modules
*.env
.DS_STORE
dist/
config
config.ts
.vscode/
package-lock.json
data
yarn-error.log
.yalc/
yalc.lock
yarn.lock
src/ipconfig.ts
/src/public/res/download/android/openingDL
/src/public/res/download/android/trainingDL
/src/public/res/download/android/tutorialDL
/src/public/res/download/android/v0282
/src/public/res/download/ios/openingDL
/src/public/res/download/ios/trainingDL
/src/public/res/download/ios/tutorialDL
/src/public/res/download/ios/v0282
/src/public/res/banner/ios/
/src/public/res/banner/android/
/website/